@import '../../common/colors.scss';

.home {
  color: darkmagenta;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.title {
  color: $font-primary;
}
